# streamlit>=1.35.0
# openai>=1.30.0
# pandas>=2.2.0
# numpy>=1.26.0
# scikit-learn>=1.4.0
# plotly>=5.20.0
# reportlab>=4.1.0
# python-nmap>=0.7.1
requests
urllib3
packaging
python-dotenv


# 터미널 실행 명령어
# pip install -r requirements.txt